body {
  max-width: 900px;
  margin: 5px auto;
}

input {
  font-size: 16pt;
  width: 150px;
  text-align: center;
  background-color: whitesmoke;
}

#calculateButton {
  margin-left: 50px;
  background-color: rgb(104, 206, 45);
}

#calculateButton:hover {
  color: white;
  background-color: green;
}

header {
  background-color: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 30px;
  padding-top: 2px;
  font-size: 14pt;
  color: rgb(104, 206, 45);
}

h1 {
  text-align: center;
  color: rgb(104, 206, 45);
  font-family: Verdana, sans-serif;
}

main {
  padding: 5px;
  background-color: rgb(58, 58, 58);
  color: rgb(75, 75, 230);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.flex {
  display: flex;
}

.typeCalculation {
  padding-left: 20px;
  width: 300px;
  border-radius: 10px;
}

.nameCalculation {
  padding-bottom: 0;
  font-style: inherit;
  color: rgb(75, 75, 230);
}

.calculationResult {
  border-radius: 10px;
  text-align: center;
  width: 250px;
  font-size: 18pt;
  padding-left: 5px;
  margin-top: 0;
  background-color: black;
  color: white;
}
